<footer>
  <div id="footer-container">
    <div class="contact">
      <h5>Contact</h5>
      <p>Quizzards</p>
      <p>123 Magic Lane</p>
      <p>Abrakadabraville, NL</p>
      <p>123-456-7890</p>
    </div>
    <div>
      <button id="scoreboard" class="std-btn">ScoreBoard</button>
    </div>
    <div class="contact-icon">
      <i class="fab fa-twitter fa-2x"></i>
      <i class="fab fa-github fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
    </div>
  </div>
  <div id="credit">
    <p>Quizzards by Meg Hein, Graham Mothersill, and Bobby Brice</p>
    <p>Logo design by: Corben Kushneryk</p>
  </div>
</footer>
