<header>
  <nav id="navigation">
    <div class="logo">
      <img src="/images/LizardWizard.png" height="150px" width="150px">
      <!-- <i class="fas fa-hat-wizard fa-5x"></i> -->
    </div>
    <div class="title">
      <a href="/">
        <h1>QUIZZARDS</h1>
      </a>
    </div>
    <div class="form-container">
      <div class="greeting">
        <% if(user){ %>
        <h4>Hello, <%= user.name %>!</h4>
      </div>

      <% if (homepage) { %>
      <button id="get_all_quizzes" class="btn btn-outline-dark">All Quizzes</button>
      <button id="get_my_quizzes" class="btn btn-outline-dark">My Quizzes</button>
      <% } else { %>


      <form action="/" method="GET" id="get_all_quizzes_redirect">
        <button type="submit" class="btn btn-outline-dark">Quizzes</button>
      </form>
      <!-- <form action="users/:id" method="GET" id="get_my_quizzes_redirect">
        <button type="submit" class="btn btn-outline-dark">My Quizzes RR</button>
      </form> -->

      <% } %>


      <form action="/logout" method="POST">
        <button type="submit" class="std-btn">Logout</button>
      </form>
      <div class="create_new">
        <a href="#ex1" rel="modal:open">Create New Quiz</a>
      </div>
      <% } else { %>
      <form action="/login" method="GET">
        <button type="submit" class="std-btn">Login</button>
      </form>
      <form action="/register" method="GET">
        <button type="submit" class="std-btn">Register</button>
      </form>
    </div>
    <% } %>
  </nav>
</header>

<!-- action="/quizzes/new" method="GET" -->