<header>
  <nav id="navigation">
    <div class="logo">
      <img src="/images/LizardWizard.png">
    </div>
    </div>
    <div class="title">
      <a href="/">
        <h1>QUIZZARDS</h1>
      </a>
    </div>
    <div class="greeting">
      <% if(user){ %>
      <h4>Hello, <%= user.name %>!</h4>
    </div>
  </nav>
  <div class="form-container">
    <div class="create_new">
      <a href="#ex1" rel="modal:open" class="std-btn">Create New Quiz</a>
    </div>
    <div id="nav-left-buttons">
      <% if (homepage){ %>

      <div class="user-quizzes">
        <button id="get_all_quizzes" class="std-btn">All Quizzes</button>
      </div>
      <div class="user-quizzes">
        <button id="get_my_quizzes" class="std-btn">My Quizzes</button>
      </div>

      <% } else { %>

      <form action="/" method="GET">
        <button type="submit" id="get_all_quizzes_redirect" class="std-btn">Quizzes</button>
      </form>

      <% } %>


      <form action="/logout" method="POST">
        <button type="submit" class="std-btn">Logout</button>
      </form>
    </div>
    <% } else { %>
    <form action="/login" method="GET">
      <button id="login-button" type="submit" class="std-btn">Login</button>
    </form>
    <form action="/register" method="GET">
      <button id="register-button" type="submit" class="std-btn">Register</button>
    </form>
  </div>
  <% } %>
  </div>
</header>