<header>
  <nav id="navigation">
    <div class="logo">
      <img src="/images/LizardWizard.png" height="150px" width="150px">
    </div>
    </div>
    <div class="title">
      <a href="/">
        <h1>QUIZZARDS</h1>
      </a>
    </div>
    <div class="greeting">
      <% if(user){ %>
      <h4 id="greeting-font">Hello, <%= user.name %>!</h4>
    </div>
  </nav>
  <div class="form-container">
    <div class="create_new">
      <a href="#ex1" rel="modal:open">Create New Quiz</a>
    </div>

    <% if (homepage){ %>

    <div class="user-quizzes">
      <button id="get_all_quizzes" class="std-btn">All Quizzes</button>
    </div>
    <div class="user-quizzes">
      <button id="get_my_quizzes" class="std-btn">My Quizzes</button>
    </div>

    <% } else { %>

    <form action="/" method="GET">
      <button type="submit" class="std-btn" id="get_all_quizzes_redirect">Quizzes</button>
    </form>

    <% } %>


    <form action="/logout" method="POST">
      <button type="submit" class="std-btn">Logout</button>
    </form>
    <% } else { %>
    <form action="/login" method="GET">
      <button type="submit" class="std-btn">Login</button>
    </form>
    <form action="/register" method="GET">
      <button type="submit" class="std-btn">Register</button>
    </form>
  </div>
  <% } %>
  </div>
</header>
