<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzards!</title>
  <%- include('partials/_scripts') %>
</head>

<body class="body-override">
  <%- include('partials/_header') %>
  <%- include('partials/_newQuiz') %>

  <!-- MAIN -->
  <main class="container" id="main-container">

    <div id="quizzes-container"></div>

  </main>

  <%- include('partials/_footer') %>
</body>

</html>
