<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzards</title>
  <%- include('partials/_scripts') %>
</head>

<body class="body-override">
  <%- include('partials/_header') %>
  <div id="reg-form" class="mx-auto" style=" width: 200px" ;>
    <h1>Register</h1>
    <form class="form group needs-validation" method="POST" action="/register">
      <div style="width: 20em;">
        <div class="form-group">
          <label for="name">Name</label>
          <input style="width: 100%" type="text" name="name" id="name" placeholder="Please enter your name" required>
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input style="width: 100%" type="email" name="email" id="email" placeholder="Please enter your email"
            required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input style="width: 100%" type="password" name="password" id="password"
            placeholder="Please enter your password" required>
        </div>
        <input type="submit" class="std-btn" value="Login" />
      </div>
    </form>
  </div>
  <%- include('partials/_footer') %>
</body>

</html>
