@import "variables";


#footer-container {
  display: flex;
  background-color: $nav;
  position: relative;
  color: $header-footer-text;
  background-image: $header-footer-bg-img;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 100px;
  font-family: $font-title;
  font-size: 1.5em;
  color: $navcontainer-button-color;
  border-top: groove .3rem $navbordercolor;
  border-right: groove .3rem $navbordercolor;
  border-left: groove .3rem $navbordercolor;

  .contact-icon {
    padding: 10px;
  }

  .contact p {
    margin: 0;
    padding: 0;
  }

  button {
    color: $navcontainer-button-color;
    background-color: $navcontainer;
    width: 9rem;
    position: absolute;
    bottom: 6rem;
    right: 48%;

    &:hover {
      background-color: $navcontainer-button-hover-color;
      color: $header-footer-text;
      background-image: $navcontainer-button-bg-img;
    }

  }
}

#credit {
  background-color: $nav;
  text-align: center;
  color: $navcontainer;
  border-bottom: groove .3rem $navbordercolor;
  border-right: groove .3rem $navbordercolor;
  border-left: groove .3rem $navbordercolor;
  background-image: $header-footer-bg-img;

  p {
    margin: 0;
    padding: 0;
  }
}
