@import "variables";

#navigation {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $nav;
  font-family: $font-title;

  .form-container {
    display: flex;
    align-items: baseline;
    background-color: $navcontainer;
  }

  .title {
    width: 50%;
    font-size: 1em;
    text-align: center;
  }

  h1 {
    font-size: 4.5em;
  }

  .title a:hover {
    text-decoration: none;
  }

}

.form-container {
  margin-bottom: 75px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1B0C1D;

  .greeting {
    display: flex;
    padding: 0 10px;

  }
}

.greeting h4 {
  font-size: 1.4em;
  color: $text-color;
}

.std-btn {
  background-color: inherit;
  text-decoration: none;
  border: 1px solid #343a40;
  padding: 10px;
  border-radius: 10px;
  color: #007bff;
  margin-bottom: 10px;
}

.std-btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  background-color: #343a40;
}

.greeting form {
  padding: 0px 10px;
}

#get_all_quizzes {
  display: none;
  color: #007bff;

}

#get_my_quizzes {
  display: initial;
  color: #007bff;

}

#get_all_quizzes_redirect {
  display: initial;
  color: #007bff;

}
