@import "variables";

#navigation {
  padding: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $nav;
  font-family: $font-title;
  color: $header-footer-text;
  background-image: $header-footer-bg-img;

  .form-container {
    display: flex;
    align-items: baseline;
    background-color: $navcontainer;
  }

  .title a {
    width: 50%;
    font-size: 1em;
    text-align: center;
    color: $header-footer-text;
  }

  .greeting {
    display: flex;
    padding: 0 10px;
    
  }

  h1 {
    font-size: 4.5em;
  }

  .title a:hover {
    text-decoration: none;
  }

}

.form-container {
  margin-bottom: 75px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $navcontainer;
  background-image: $navcontainer-bg-img;

  button {
    color: $navcontainer-button-color;
    background-image: $navcontainer-button-bg-img;
    background-color: $navcontainer-button-bg-color;
    font-family: $font-title;

    &:hover {
      background-color: $navcontainer-button-hover-color;
      color: $header-footer-text;
    }

  }

}




.std-btn {
  
  text-decoration: none;
  border: 1px solid #343a40;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: $header-footer-text;
}

.std-btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  background-color: #343a40;
}

.greeting form {
  padding: 0px 10px;
}

#get_all_quizzes {
  display: none;
  color: $navcontainer-button-color;
  background-image: $navcontainer-button-bg-img;
  background-color: $navcontainer-button-bg-color;
  font-family: $font-title;

  &:hover {
    background-color: $navcontainer-button-hover-color;
    color: $header-footer-text;
  }

}

#get_my_quizzes {
  display: initial;
  color: $navcontainer-button-color;
  background-image: $navcontainer-button-bg-img;
  background-color: $navcontainer-button-bg-color;
  font-family: $font-title;

  &:hover {
    background-color: $navcontainer-button-hover-color;
    color: $header-footer-text;
  }

}

#get_all_quizzes_redirect {
  display: initial;
  color: $navcontainer-button-color;
  background-image: $navcontainer-button-bg-img;
  background-color: $navcontainer-button-bg-color;
  font-family: $font-title;

  &:hover {
    background-color: $navcontainer-button-hover-color;
    color: $header-footer-text;
  }

}
