@import "variables";


header {
  position: relative;
}

#navigation {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $nav;
  font-family: $font-title;
  color: $header-footer-text;
  background-image: $header-footer-bg-img;
  border-top: groove .2rem $navbordercolor;
  border-left: groove .3rem $navbordercolor;
  border-right: groove .3rem $navbordercolor;

  img {
    height: 12rem;
    width: 12rem;
    margin-left: .5rem;
    margin-top: .5rem;
    padding: 0;
  }

  .form-container {
    display: flex;
    align-items: baseline;
  }

  .title a {
    width: 50%;
    font-size: 1em;
    text-align: center;
    color: $header-footer-text;
    position: absolute;
    top: 3rem;
    right: 25%;
  }

  .greeting {
    display: flex;
    padding: 0 10px;
  }

    h4 {
      font-size: 2.5rem;
      margin-right: .5rem;
    }

  }

  h1 {
    font-size: 7rem;
    margin-top: 0rem;
    margin-bottom: 0rem;

  }

  .title a:hover {
    text-decoration: none;
  }

.form-container {
  font-size: 1.5em;
  color: $btn-text-color;
  margin-bottom: 75px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $background;
  background-image: $navcontainer-bg-img;
  border-left: groove .3rem $navbordercolor;
  border-right: groove .3rem $navbordercolor;
  border-top: double .2rem $navbordercolor;

  button {
    color: $navcontainer-button-color;
    background-image: $navcontainer-button-bg-img;
    background-color: $navcontainer-button-bg-color;
    font-family: $font-title;

    &:hover {
      background-color: $navcontainer-button-hover-color;
      color: $header-footer-text;
    }

  }

}

#nav-left-buttons {
  display: flex;
  justify-content: flex-end;
}

.std-btn {

  text-decoration: none;
  font-size: 2rem;
  border: 1px solid #343a40;
  width: 7rem;
  height: 4rem;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: $header-footer-text;
}

.std-btn:hover {
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
  background-color: #343a40;
}

.greeting form {
  font-size: 1.5em;
  padding: 0px 10px;
}


header {

  button  {

    color: $navcontainer-button-color;
    background-image: $navcontainer-button-bg-img;
    background-color: $navcontainer-button-bg-color;
    font-family: $font-title;
    margin-right: .5rem;

    &:hover {
      background-color: $navcontainer-button-hover-color;
      color: $header-footer-text;
    }

  }

#get_all_quizzes {
  display: none;
  width: 8rem;
  margin-right: 2rem;
}

#get_my_quizzes {
  display: initial;
  width: 8rem;
  margin-right: 2rem;
}
 
#get_all_quizzes_redirect {
  display: initial;
  width: 8rem;
  margin-right: 2rem;
}

#login-button {
  color: $btn-text-color;
  background-color: $header-footer-text;
  background-image: $navcontainer-button-bg-img;

  &:hover {
    background-color: $navcontainer-button-hover-color;
    color: $header-footer-text;
  }
}

#register-button {
  color: $btn-text-color;
  background-color: $header-footer-text;
  background-image: $navcontainer-button-bg-img;

  &:hover {
    background-color: $navcontainer-button-hover-color;
    color: $header-footer-text;
  }
}
}