@import "variables";

#new_quiz_form {
  background-color: $navbordercolor;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-body;
  border: 1px solid $navbordercolor;
  color: $text-wheat;

  span {
    margin-left: 5px;
  }
}

#quiz-submit {
  color: $light-blue;
  background-image: url(https://www.transparenttextures.com/patterns/black-thread-light.png);
  background-color: $text-wheat;
  font-family: $font-title;
  margin-bottom: 0px;

  &:hover {
    background-color: $hover-grey-black;
    color: $text-wheat;
  }
}

.create_new a {
  text-decoration: none;
  border: 1px solid $hover-grey-black;
  padding: 10px;
  border-radius: 10px;
  color: $light-blue;
  background-color: $text-wheat;
  background-image: $button-web-bg-img;
  font-family: $font-title;
  margin-left: .4rem;
}

.create_new a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: $hover-grey-black;
  color: $text-wheat;
}

#ex1 {
  height: fit-content;
  padding: 0px;
}

#quiz_form {
  margin-top: 1em;
  text-align: center;

  input {
    border-radius: 10px;
    width: 90%;
    border: none;
    width: 100%;
    padding-left: 10px;
    background-color: $text-wheat;
  }

  .name-private {
    display: flex;
    align-items: baseline;
    margin-left: 35%;
  }
}

#question_forms {
  display: flex;
  flex-direction: column;

  input[type="text"] {
    background-color: $text-wheat;
    border-radius: 10px;
    border: none;
    margin: 5px 5px;
    padding: 10px;
  }

  [type="radio"] {
    margin-left: 50px;
    background-color: $text-wheat;
  }
}
