@import "variables";

#new_quiz_form {
  color: #343a40;
  background-color: #c3b1db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $font-body;

  span {
    margin-left: 5px;
  }
}

.create_new a {
  text-decoration: none;
  border: 1px solid #343a40;
  margin-right: 15px;
  padding: 10px;
  border-radius: 10px;

  color: $navcontainer-button-color;
  background-color: $navcontainer-button-bg-color;
  background-image: $navcontainer-button-bg-img;
  font-family: $font-title;
}

.create_new a:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: $navcontainer-button-hover-color;
  color: $header-footer-text;
}

#ex1 {
  height: fit-content;
  padding: 0px;
}

#quiz_form {
  margin-top: 1em;
  text-align: center;

  input {
    border-radius: 10px;
    width: 90%;
    border: none;
    width: 100%;
    padding-left: 10px;
  }

  .name-private {
    display: flex;
    align-items: baseline;
    margin-left: 35%;
  }
}

#question_forms {
  display: flex;
  flex-direction: column;

  input[type="text"] {
    border-radius: 10px;
    border: none;
    margin: 5px 5px;
    padding: 10px;
  }

  [type="radio"] {
    margin-left: 50px;
  }
}
