@import "variables";

#results-main {
  text-align: center;
  #user-results {
    display: inline-block;
    padding: 50px;
    border: 1px solid $navbordercolor;
    margin: 25px;
    border-radius: 10px;
    font-family: $font-body;
    font-size: 2rem;
    color: $header-footer-text;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");

    h2 {
      font-family: $font-title;
      font-size: 4rem;
    }
    h4 {
      font-family: $font-title;
      font-size: 2.5rem;
    }
  }
}




