@import "variables";

#quizzes-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: $font-title;
  height: 90vh;
}

.quiz {
  background: url('/images/magicBook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .9;
  // background-color: #453643;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 13em;
  text-align: center;
  width: calc(30% - 5px);
  border-radius: 50px;
  border: .16em solid black;
  margin: .6em;
  font-size: 1.2em;

  header,
  footer {
    position: relative;
    top: 75px;
    left: 0px;
  }
}

.quiz:hover {
  box-shadow: 10px 10px 10px 0px slategrey;
}

#quiz-unlisted {
  background-color: slateblue;
}

.quiz_small_text {
  font-size: 10px;
  font-weight: lighter;
}

main .container {

  width: 100%;
  margin: 0 auto;
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  #main-container {
    max-width: 840px;
  }
}
