@import "variables";

#quiz-attempt {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $header-footer-text;

  #quiz-name {
    margin-top: 20px;
    font-family: $font-title;
  }
}


.question-card {
  padding: 10px;
  border: 1px solid #343a40;
  margin: 25px 0px;
  border-radius: 10px;
  font-family: $font-body;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
}


#url-container {
  display: flex;
  justify-content: center;

  label {
    color: $header-footer-text;
    font-family: $font-title;
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

#results {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #343a40;
  margin: 25px 0px;
  border-radius: 10px;
}
