#scoreboard-container {
  color: $text-wheat;
  font-size: 1.5em;
  margin-top: 100px;
  height: inherit;
  text-align: center;
  background-image: url(https://www.transparenttextures.com/patterns/black-linen.png);

  h2 {
    font-family: $font-title;
    font-size: 2.5em;
  }

  #score-name {
    color: $background;
    background-color: $text-wheat;
    background-image: $score-bg-img;
  }

  #score-average {
    color: $background;
    background-color: $text-wheat;
    background-image: $score-bg-img;
  }

  .score-text th {

    color: $text-wheat;
  }

  table {
    color: $text-wheat;


  }
}
