#scoreboard-container {
  color: $header-footer-text;


  h2 {
    font-family: $font-title;
  }

  #score-name {
    color: $background;
    background-color: $header-footer-text;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  #score-average {
    color: $background;
    background-color: $header-footer-text;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  .score-text th {
    
    color: $header-footer-text;
  }

  table {
    color: $header-footer-text;


  }
}

