#scoreboard-container {
  color: $header-footer-text;
  font-size: 1.5em;
  margin-top: 100px;
  height: inherit;
  text-align: center;
  background-image: url(https://www.transparenttextures.com/patterns/black-linen.png);

  h2 {
    font-family: $font-title;
    font-size: 2.5em;
  }

  #score-name {
    color: $background;
    background-color: $header-footer-text;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  #score-average {
    color: $background;
    background-color: $header-footer-text;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  }

  .score-text th {

    color: $header-footer-text;
  }

  table {
    color: $header-footer-text;


  }
}
