//body background:
$background: #0E0B1E;
$main-bg-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");

// header and footer background:
$nav-blue: #1F3670;
$navbordercolor: #162650;
$nav-bg-img: url("https://www.transparenttextures.com/patterns/navy.png");
$navcontainer-bg-img: url("https://www.transparenttextures.com/patterns/billie-holiday.png");

// nav buttons:
$button-web-bg-img: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
$hover-grey-black: #211921;


// text colours
$light-blue: #007bff;
$text-wheat: #F5DEB3;

// other background images
$quiz-bg-img: url("https://www.transparenttextures.com/patterns/black-linen.png");
$score-bg-img: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");

// text:
$font-body: 'Gafata',
sans-serif;
$font-title: 'Jolly Lodger',
cursive;