$nav: #1F3670;
$navcontainer: #F5DEB3;
$navcontainer-bg-img: url("https://www.transparenttextures.com/patterns/cartographer.png");
$background: #0E0B1E;
$header-footer-text: #F5DEB3;
$header-footer-bg-img: url("https://www.transparenttextures.com/patterns/navy.png");
$box: #141052;
$shadow: #4056A1;
$text: #7699D4;
$alert: #FF0000;
$bg-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
$font-body: 'Gafata', sans-serif;
$font-title: 'Jolly Lodger', cursive;



// // Potential Colours:
// #28112B - dark purple
// #453643 - black coffee

// #552F75 - spanish violet
// #5441B4 - ocean blue (purple....)
// #8C6CB2 - middle blue purple (LIGHT PURPLE)
// #7B506F - twilight lavander

// #008AB8 - blue ncs
// #7699D4 - cornflower blue ---- GRAHAM LOVES

// #335145 - brunswick green
// #79C99E - bright eton blue BUT IT IS GREEN
// #92BDA3 - eton blue BUT IT IS GREEN
// #8DAA91 - morning blue ALSO GREEN
