// See: https://sass-lang.com/
@import "quizzes-container";
@import "new-quiz-container";
@import "nav-header";
@import "quiz-id";
@import "footer";
@import "variables";


.body-override {
  background-color: $background;
  background-image: $bg-image;
  font-family: $font-body;
  font-size: 24px;
}
