// See: https://sass-lang.com/
@import "quizzes-container";
@import "new-quiz-container";
@import "nav-header";
@import "quiz-id";
@import "footer";


body {
  background-color: #EEE;

  h1 {
    color: #244751;

  }
}
