// See: https://sass-lang.com/
@import "quizzes-container";
@import "new-quiz-container";
@import "nav-header";
@import "quiz-id";
@import "footer";
@import "scoreboard";
@import "variables";


.body-override {
  background-color: $background;
  background-image: $bg-image;
  font-family: $font-body;
  font-size: 16px;
}




// #28112B - dark purple
// #453643 - black coffee

// #552F75 - spanish violet
// #5441B4 - ocean blue (purple....)
// #8C6CB2 - middle blue purple (LIGHT PURPLE)
// #7B506F - twilight lavander

// #008AB8 - blue ncs
// #7699D4 - cornflower blue ---- GRAHAM LOVES

// #335145 - brunswick green
// #79C99E - bright eton blue BUT IT IS GREEN
// #92BDA3 - eton blue BUT IT IS GREEN
// #8DAA91 - morning blue ALSO GREEN